.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 79.7vh;
}

.login-content {
  background-color: antiquewhite; /* Provisorio */
  width: 350px;
  padding: 2%;
  border-radius: 5%;
}

.login-input {
  width: 100%;
}

.login-submit {
  margin: 3% 0%;
}
