<ng-container *ngIf="games"> 
  <div class="profile">  

    <h1 class="titulo">JUEGOS</h1>

    <article class="games-library">
      
      <ng-container *ngIf="games">
        
        <a mat-flat-button color="accent" class="boton" routerLink="create">
          <mat-icon>
            <span class="material-symbols-outlined">
              add
            </span>
          </mat-icon>
          Nuevo
        </a>
        
        <!-- Tabla -->
        <dlp-table [tableData]="games" [tableColumns]="gamesTableColumns"></dlp-table>

      </ng-container>
    </article>
      
  </div>
</ng-container>
