.profile {
  margin: auto;
  margin-top: 85px;
  background-color: lightblue;
  justify-content: center;
  max-width: 1280px;
  padding: 10px;
}

.titulo {
  display: flex;
  justify-content: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  padding: 10px 10px 20px 10px;
}

.games-library {
  max-width: 1280px;
  margin: auto;
  justify-content: center;
}

.tabla {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.cover {
  max-width: 80px;
}

.grid-profile {
  display: grid;
  grid-template-areas: "photo info";
  grid-template-columns: 12% auto;
  align-items: center;
  justify-content: center;
}

.profile-photo {
  grid-area: photo;
  max-height: 130px;
}

.profile-info {
  grid-area: info;
}
