<div class="profile">   
  
  <!-- Info del usuario-->
  <!-- <ng-container *ngIf="user">  -->
    <!-- <div class="grid-profile"> -->
      <!-- <img [src]="user.image" alt="{{user.name}}'s profile photo" class="profile-photo"> -->
      <!-- <div class="profile-info"> -->
        <!-- <h1 class="titulo">{{user.name}} {{user.surname}}</h1> -->
        <!-- <h4> Registrado desde: {{user.registro}}</h4> -->
        <!-- <h4> Email: {{user.email}}</h4> -->
      <!-- </div> -->
    <!-- </div> -->
  <!-- </ng-container>  -->
    &nbsp;
    <article class="games-library">
      <h1>Mi Biblioteca</h1>
      
      <ng-container *ngIf="games">
        
        <!-- Tabla -->
        <dlp-table [tableData]="games" [tableColumns]="gamesTableColumns"></dlp-table>
        
      </ng-container> 
    </article>
  </div> 