<ng-container *ngIf="contact">
  <article class="contact">

    <div class="contact-details mat-elevation-z9">
      <div class="info">
        <p class="mat-h2"> Remitente: {{contact.email}} </p>
        <p class="mat-h2"> Enviado: {{contact.createdAt}} </p>
        <p class="mat-h2"> Asunto: {{contact.reason}} </p>

      </div>
      <div class="texto">
        <p class="mat-body-2"> {{contact.message}} </p>
      </div>
      <div class="boton">
        <button mat-flat-button color="primary" routerLink="/admin/contact">Volver</button>
      </div>
        &nbsp;
      </div>
  </article>
</ng-container>
