<mat-sidenav-container>
  
  <!-- Barra lateral -->
  <mat-sidenav class="games-filter" [(opened)]="isShowing" mode="side">
    
    <mat-nav-list>
      <div class="with-icon mat-h1">
        <mat-icon>
          <span class="material-symbols-rounded">
            filter_alt
          </span>
        </mat-icon>
        Filtrar
      </div>
    </mat-nav-list>

    <mat-divider></mat-divider>
  
  </mat-sidenav>

  <!-- Contenido -->
  <mat-sidenav-content class="content">
    
    <div class="games-content"> 
      
      <div class="titulo">
        Tienda
      </div>

      <div class="busqueda">
        
        <button mat-raised-button (click)="toggleSidenav()">
          <mat-icon>
            <span class="material-symbols-rounded">
              filter_alt
            </span>
         </mat-icon>Filtrar
        </button>
        &nbsp;
        
        <mat-form-field appearance="standard" class="filtro">      
          <mat-label>
            <mat-icon>
              <span class="material-symbols-rounded">
                search
              </span>
            </mat-icon>
            Buscar juego
          </mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ingrese el nombre de un juego" #input>
        </mat-form-field>
      
      </div>
      
      <ng-container *ngIf="this.dataSource">
        
        <ng-container *ngIf="this.dataSource.filteredData.length > 0; else noGamesFilter">
        <div class="cards">
            <section class="card" *ngFor="let game of this.dataSource.filteredData">
              <dlp-game [game]="game"></dlp-game>
            </section>
          </div>
        </ng-container>  
        
        <ng-template #noGamesFilter>
          <div class="notFoundGames mat-display-1">
            <p>NO SE ENCONTRARON JUEGOS.</p>
          </div>
        </ng-template>
        </ng-container>
      
      
    
    </div>    

  </mat-sidenav-content>

</mat-sidenav-container>
