.with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.games-filter {
  background: rgb(255, 195, 138);
  width: 200px;
}

.radio-button {
  padding: 2% 3%;
  width: 90%;
}

.content {
  display: flex;
  justify-content: center;
}

.games-content {
  display: grid;
  grid-template-areas: "titulo" "busqueda" "noGames" "games";
  grid-template-columns: 100%;
  grid-template-rows: 10vh 10vh auto auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
  width: 62vw;
  min-height: 83vh;
}

.titulo {
  grid-area: titulo;
  justify-self: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
}

.busqueda {
  grid-area: busqueda;
  width: 70vw;
}

.filtro {
  width: 90%;
}

.cards {
  grid-area: games;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  min-height: 72vh;
}

.notFoundGames {
  grid-area: noGames;
  display: flex;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .busqueda {
    width: 80vw;
  }

  .games-content {
    width: 72vw;
  }

  .cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

@media only screen and (min-width: 992px) {
  .busqueda {
    width: 83vw;
  }

  .games-content {
    width: 82vw;
  }

  .cards {
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
  }
}
