.with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.games-filter {
  background: rgba(211, 211, 211, 0.363);
  width: 200px;
}

.radio-button {
  padding: 2% 3%;
  width: 90%;
}

.content {
  display: flex;
  justify-content: center;
}

.games-content {
  display: grid;
  grid-template-areas: "titulo" "busqueda" "noGames" "games";
  grid-template-columns: 100%;
  grid-template-rows: 10vh 10vh auto auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
  width: 62vw;
  min-height: 83vh;
}

.titulo {
  grid-area: titulo;
  justify-self: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
}

.busqueda {
  grid-area: busqueda;
  min-width: 50vw;
  max-width: 62vw;
}

.filtro {
  width: 90%;
}

.cards {
  grid-area: games;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  min-height: 72vh;
}

.notFoundGames {
  grid-area: noGames;
  display: flex;
  justify-content: center;
}
