.with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.games-filter {
  background: rgba(211, 211, 211, 0.363);
  width: 200px;
  font-size: 20px;
}

.games-content {
  display: grid;
  grid-template-areas: "titulo" "games";
  grid-template-rows: 10vh auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
  /* background: red; */
}

.titulo {
  grid-area: titulo;
  justify-self: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
}

.cards {
  grid-area: games;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  min-height: 90vh;
}
