<div class="main">

  <p class="mat-display-2 titulo">Preguntas frecuentes</p>
  <div class="questions">
    <p class="mat-h2 question">
      ¿Los juegos son originales?
    </p>
    <p class="mat-h3">
      Sí, todos los juegos ofrecidos en esta tienda son originales.
    </p>
    <p class="mat-h2 question">
      ¿Cómo recibo el juego?
    </p>
    <p class="mat-h3">
      Una vez hayas realizado la compra, recibirás un correo con la 
      clave del juego y las instrucciones para poder canjearla 
      en la plataforma correspondiente.
    </p>
    <p class="mat-h2 question">
      Me arrepentí al momento de comprar el juego, ¿puedo solicitar la devolución?
    </p>
    <p class="mat-h3">
      Lamentablemente no se pueden realizar devoluciones, ya que no nos podemos asegurar
      que las claves no hayan sido canjeadas.
    </p>
    <p class="mat-h2 question">
      Recibí una clave vencida o que ya ha sido canjeada.
    </p>
    <p class="mat-h3">
      En caso de que haya sucedido eso, envía un mensaje en la sección <a routerLink="/contact">Contacto</a>
      con el motivo "Clave vencida/utilizada" y en el mensaje el nro de compra. De esta manera podemos realizar el reclamo
      a la plataforma correspondiente. Lamentamos mucho los inconvenientes. 
    </p>
  </div>
</div>
