.main {
  display: grid;
  grid-template-areas: "titulo" "questions";
  justify-content: center;
  justify-items: center;
  padding: 1% 2%;
  column-gap: 3rem;
}

.titulo {
  grid-area: titulo;
  text-align: center;
}

.questions {
  grid-area: questions;
  text-align: justify;
  margin-bottom: 10%;
}

.question {
  font-weight: 600;
}
