.with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.games-filter {
  background: rgba(211, 211, 211, 0.363);
  width: 200px;
}

.admin-content {
  display: grid;
  grid-template-areas: "titulo" "tabla";
  grid-template-columns: 100%;
  grid-template-rows: 10vh auto;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
}

.titulo {
  grid-area: titulo;
  justify-self: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
}

.tabla {
  grid-area: tabla;
  gap: 2rem;
  min-height: 73vh;
}
