.with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.games-filter {
  background: rgba(211, 211, 211, 0.363);
  width: 200px;
  font-size: 20px;
}

.admin-content {
  display: grid;
  grid-template-areas: "titulo" "tabla";
  grid-template-rows: 12vh auto;
  grid-template-columns: 100%;
  align-items: center;
  justify-content: center;
}

.titulo {
  grid-area: titulo;
  justify-self: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
}

.tabla {
  grid-area: tabla;
  gap: 2rem;
  min-height: 100vh;
}
