<div class="register">
  <form [formGroup]="form" class="register-content" (submit)="onSubmit()">
    <h1>EDITAR USUARIO</h1>

    <mat-form-field appearance="outline" class="register-input">
      <mat-label>Ingrese su nombre</mat-label>
      <input matInput formControlName="name" placeholder="Nombre actual: {{user.name}}" tabindex="1">
      <mat-error *ngIf="form.controls.name.hasError('required')">El nombre es necesario</mat-error>
      <mat-error *ngIf="form.controls.name.hasError('pattern')">El nombre no puede contener números</mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="outline" class="register-input">
      <mat-label>Ingrese su apellido</mat-label>
      <input matInput formControlName="surname" placeholder="Apellido actual: {{user.surname}}" required tabindex="2">
      <mat-error *ngIf="form.controls.surname.hasError('required')">El apellido es necesario</mat-error>
      <mat-error *ngIf="form.controls.surname.hasError('pattern')">El apellido no puede contener números</mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="outline" class="register-input">
      <mat-label>Ingrese su email</mat-label>
      <input matInput formControlName="email" placeholder="Email actual: {{user.email}}" tabindex="3">
      <mat-error *ngIf="form.controls.email.hasError('required')">El email es necesario</mat-error>
      <mat-error *ngIf="form.controls.email.hasError('email')">El email debe tener un formato válido</mat-error>
      <mat-error *ngIf="form.controls.email.hasError('minlength')">El email debe contener 5 o más caracteres</mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="outline" class="register-input">
      <mat-label>Elija el rol</mat-label>
      <mat-select formControlName="idRole" name="idRole">
        <mat-option *ngFor="let rol of roles" [value]="rol.id">
          {{rol.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <button type="submit" mat-flat-button color="primary" class="register-submit" tabindex="6">
      Confirmar edición
    </button>

    
  </form>
</div>