.game {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 79.7vh;
}

.game-details {
  display: grid;
  grid-template-areas: "titulo panel" "info panel";
  grid-template-columns: 70% auto;
  grid-template-rows: 15% auto;
  background-color: antiquewhite; /* Provisorio */
  min-width: 200px;
  max-width: 55%;
  padding: 1%;
  border-radius: 5%;
  min-height: 300px;
}

.titulo {
  grid-area: titulo;
  justify-self: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  /* background: red; */
}

.description {
  /* background: pink; */
  grid-area: info;
  padding: 3%;
  font-size: 22px;
}

.panel {
  /* background: green; */
  grid-area: panel;
  max-width: 220px;
  padding: 3%;
  justify-self: center;
  border-left: 1px solid grey;
}

.info-panel {
  /* background: lightseagreen; */
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  font-size: 16px;
  font-weight: 500;
  padding: 3% 4%;
}

.cover {
  max-width: 220px;
  justify-self: center;
}

.boton {
  width: 100%;
}
