.main {
  display: grid;
  grid-template-areas: "titulo" "about" "metrics";
  justify-content: center;
  justify-items: center;
  padding: 1% 2%;
  column-gap: 3rem;
}

.titulo {
  grid-area: titulo;
  text-align: center;
}

.about {
  grid-area: about;
  text-align: justify;
  margin-bottom: 10%;
}

.metric-title {
  margin: 2% 0%;
}

.metrics {
  grid-area: metrics;
  text-align: center;
  justify-content: space-evenly;
  font-size: 20px;
  width: auto;
}

.counter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}

@media only screen and (min-width: 576px) {
  .counter {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 768px) {
  .counter {
    grid-template-columns: repeat(5, 1fr);
  }
}
