.main {
  display: grid;
  grid-template-areas: "titulo" "about" "metrics";
  /* width: 60vw; */
  grid-template-columns: 65%;
  justify-content: center;
  justify-items: center;
  padding: 1% 2%;
  column-gap: 3rem;
  /* background: palegoldenrod; */
}

.titulo {
  grid-area: titulo;
}

.about {
  grid-area: about;
  text-align: justify;
  margin-bottom: 5%;
}

.metrics {
  grid-area: metrics;
  text-align: center;
  font-size: 20px;
  width: auto;
}

.counter {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem;
}
