<div class="main">

  <p class="mat-display-2">¿Quiénes somos?</p>
  <ng-container *ngIf="counter">
    <dlp-metrics [digit]="counter.numberUsers"></dlp-metrics>
    <h2>Usuarios registrados</h2>
    <dlp-metrics [digit]="counter.numberCategories"></dlp-metrics>
    <h2>Categorías</h2>
    <dlp-metrics [digit]="counter.numberGames"></dlp-metrics>
    <h2>Juegos</h2>
    <dlp-metrics [digit]="counter.numberDevelopers"></dlp-metrics>
    <h2>Desarrolladores</h2>
    <dlp-metrics [digit]="counter.numberUsergames"></dlp-metrics>
    <h2>Copias de juegos adquiridas</h2>
  </ng-container>
</div>
