.grid {
  display: grid;
  grid-template-areas: "header" "content" "footer";
  grid-template-rows: 64px auto auto;
}

.grid-header {
  grid-area: header;
}

.grid-content {
  grid-area: content;
  min-height: 88vh;
}

.grid-footer {
  grid-area: footer;
}
