.login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 88vh;
}

.login-content {
  background-color: antiquewhite; /* Provisorio */
  width: 350px;
  padding: 2%;
  border-radius: 5%;
}

.login-input {
  width: 100%;
  margin-bottom: 5%;
}

.login-submit {
  margin-bottom: 3%;
}
